
@{
    ViewData["Title"] = "GameOfLife";
}

<h1>GameOfLife</h1>

@model List<List<bool>>

<form action="../Home/GameOfLifeContinue" method="post">
    @{ int count = 0; }
    @foreach (var list1 in Model)
    {
        <br />
        foreach (var list2 in list1)
        {
           <input type="checkbox" name="number@count" value="@list2" />
            count++;
        }
    }
    <input type="submit" value="Submit" />
</form>