@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="../Home/GameOfLifeSetup" method="post">
    <input type="number" name="num1" value="" />
    <input type="number" name="num2" value="" />
    <input type="submit" value="Submit" />
</form>